@charset "utf-8";

// // Set your brand colors
$purple: #d421da;
// $pink: #fa7c91;
// $brown: #757763;
// $beige-light: #d0d1cd;
// $beige-lighter: #eff0eb;

// // Update Bulma's global variables
// $family-sans-serif: 'Nunito', sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// // Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';

@import '../node_modules/bulma/sass/elements/_all.sass';
@import '../node_modules/bulma/sass/components/_all.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/layout/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/helpers/_all.sass';

// Global styles

@keyframes fade-in {
    0%  {
        opacity: 0
    }

    100% {
        opacity: 100
    }
}

.fadeIn {
    animation: fade-in 0.5s cubic-bezier(0.16, 1, 0.3, 1)
}

.selectable {
    cursor: pointer;
}

@media (max-width:641px)  { 
    body, html, #root {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
}

html {
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}

// A button that looks like a link. Useful for JS-only actions.
// https://github.com/jgthms/bulma/issues/1583
.button-link {
    color: $link;
    font-size: 16px;
    background-color: transparent;
    border-color: transparent;
  
    &:hover {
      color: $link-hover;
      text-decoration: underline;
      background-color: transparent;
      border-color: transparent;
      cursor: pointer;
    }
  
    &:focus {
      text-decoration: underline;
      border-color: transparent;
      box-shadow: none;
      outline: none;
    }
  
    // Remove all padding and height so it's just plain, unpadded text.
    &.button-text {
      padding: 0;
      height: unset;
    }
  }